<div class="page-header">
    <h3 class="page-title">
              <span class="page-title-icon bg-gradient-primary text-white mr-2">
                <i class="mdi mdi-home"></i>
              </span>
        共享设备浏览
    </h3>
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                <span></span>Overview
                <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
            </li>
        </ul>
    </nav>

</div>

<div class="row">
    <div class="col-md-4 grid-margin stretch-card" ng-repeat="device in devices">

        <div class="card">
            <div class="card-body">
                <h1 class="card-title">{{device.name}}</h1>
                <div class="media">
                    <i class="mdi mdi-earth icon-md text-info d-flex align-self-start mr-3"></i>
                    <div class="media-body">
                        <p class="card-text">{{device.laboratory.name}}</p>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center" ng-if="user.userType == 'general'">
                <a class="btn btn-gradient-danger btn-fw" href="/#!/reserve/{{device.id}}">预约</a>
            </div>
        </div>
    </div>

</div>
