<div class="page-header">
    <h3 class="page-title">
              <span class="page-title-icon bg-gradient-primary text-white mr-2">
                <i class="mdi mdi-home"></i>
              </span>
        设备单位浏览
    </h3>
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                <span></span>Overview
                <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
            </li>
        </ul>
    </nav>
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                <span></span>Overview
                <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
            </li>
        </ul>
    </nav>
</div>


<div class="row">
    <div class="col-md-6 grid-margin stretch-card" ng-repeat="lab in data">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{lab.name}}</h4>
                <p class="card-description">
                    Write text in
                </p>
                <p>
                    {{lab.introduction}}
                </p>
            </div>
        </div>
    </div>
</div>
