<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth">
            <div class="row w-100">
                <div class="col-lg-6 mx-auto">
                    <div class="auth-form-light text-left p-5">
                        <div class="brand-logo">
                            <img src="../../images/logo.svg">
                        </div>
                        <h4 class="text-primary">欢迎使用！</h4>
                        <h6 class="text-dark font-weight-light">登录科享科研仪器共享平台</h6>
                        <form class="pt-3">
                            <div class="form-group">
                                <input type="text" class="form-control form-control-lg"
                                       ng-model="login.name"
                                       id="input-username" placeholder="用户名">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control form-control-lg"
                                       ng-model="login.password"
                                       id="input-password" placeholder="密码">
                            </div>
                            <div class="mt-3">
                                <a class="btn btn-block btn-gradient-primary text-white btn-lg font-weight-medium auth-form-btn"
                                   ng-click="userLogin()">登录</a>
                            </div>
                            <div class="text-center mt-4 font-weight-light">
                                还没有账号吗？<a href="/#!/register" class="text-primary">立即注册</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
