<div class="page-header">
    <h3 class="page-title">
              <span class="page-title-icon bg-gradient-primary text-white mr-2">
                <i class="mdi mdi-home"></i>
              </span>
        仪器类别管理
    </h3>
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                <span></span>Overview
                <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
            </li>
        </ul>
    </nav>
</div>
<div class="row">
    <div class="col-md-6 grid-margin stretch-card" style="max-height: 250px;">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">添加仪器类别</h4>
                <form class="forms-sample">
                    <div class="form-group row">
                        <label for="device-type" class="col-sm-3 col-form-label">仪器类别名称</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control"
                                   ng-model="deviceType.name"
                                   id="device-type" placeholder="请输入仪器类别名称">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-gradient-primary mr-2" ng-click="addDeviceType()">提交
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">仪器类别列表</h4>
                <p class="card-description">
                    Add class <code>.table-bordered</code>
                </p>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>仪器类别名称</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="type in deviceTypes">
                        <td>{{$index+1}}</td>
                        <td>{{type.name}}</td>
                        <td class="text-center">
                            <button type="button" class="btn btn-danger btn-md"
                                    ng-click="deleteDeviceType(type.id)">删除
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>

