<div class="page-header">
    <h3 class="page-title">
              <span class="page-title-icon bg-gradient-primary text-white mr-2">
                <i class="mdi mdi-home"></i>
              </span>
        设备预约
    </h3>

</div>
<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">预约设备</h4>
                <form class="forms-sample">
                    <div class="form-group row">
                        <label for="device-name" class="col-sm-3 col-form-label">设备名称</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="device-name" placeholder="{{device.name}}" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="time-begin" class="col-sm-3 col-form-label">开始时间</label>
                        <div class="col-sm-9">
                            <input type="datetime-local" class="form-control"
                                   ng-model="reserve.startTime"
                                   id="time-begin" placeholder="租用开始时间">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="time-end" class="col-sm-3 col-form-label">结束时间</label>
                        <div class="col-sm-9">
                            <input type="datetime-local" class="form-control"
                                   ng-model="reserve.endTime"
                                   id="time-end" placeholder="租用结束时间">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="mobile" class="col-sm-3 col-form-label">手机号</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control"
                                   ng-model="reserve.phone"
                                   id="mobile" placeholder="输入负责人的手机号">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-gradient-primary mr-2" ng-click="submitReserve(reserve)">提交
                    </button>
                    <button class="btn btn-light">取消</button>
                </form>
            </div>
        </div>
    </div>

</div>



