<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" type="text/css" href="styles/vendor.bundle.base.css">
    <link rel="stylesheet" type="text/css" href="styles/iconfonts/mdi/css/materialdesignicons.min.css">
</head>

<body ng-app="testApp">
<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!--顶部导航栏-->
<nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo" href="/#!/"><img src="images/logo.svg" alt="logo"/></a>
        <a class="navbar-brand brand-logo-mini" href="/#!/"><img src="images/logo-mini.svg" alt="logo"/></a>
    </div>


    <div class="navbar-menu-wrapper d-flex align-items-stretch">
        <!--搜索栏-->
        <div class="search-field d-none d-md-block">
            <form class="d-flex align-items-center h-100" action="#">
                <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                        <i class="input-group-text border-0 mdi mdi-magnify"></i>
                    </div>
                    <input type="text" class="form-control bg-transparent border-0" placeholder="搜索仪器">
                    <a class="text-gray text-small text-sm-right" style="height: 50px;line-height: 50px;"
                       href="/#!/search">高级搜索</a>
                </div>
            </form>
        </div>

        <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item nav-logout d-none d-lg-block">
                <a class="nav-link" href="#">
                    <i class="mdi mdi-power"></i>
                </a>
            </li>
            <li class="nav-item nav-settings d-none d-lg-block">
                <a class="nav-link" href="#">
                    <i class="mdi mdi-format-line-spacing"></i>
                </a>
            </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
        </button>
    </div>
</nav>

<div class="container-fluid page-body-wrapper">
    <!--侧边栏-->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
            <!--个人信息框-->
            <li class="nav-item nav-profile">
                <div class="nav-link">
                    <div class="nav-profile-image">
                        <img src="images/faces/face1.jpg" alt="profile">
                        <span class="login-status online"></span> <!--change to offline or busy as needed-->
                    </div>

                    <div class="nav-profile-text d-flex flex-column"
                         ng-if="isLogged" ng-switch="user.userType">

                        <span class="font-weight-bold mb-2" ng-switch-when="general">用户{{user.id}}</span>
                        <span class="font-weight-bold mb-2" ng-switch-when="laboratory">单位用户{{user.id}}</span>
                        <span class="font-weight-bold mb-2" ng-switch-when="manage">主管用户{{user.id}}</span>
                        <span class="text-secondary text-small" ng-switch-when="general">{{user.name}}</span>
                        <span class="text-secondary text-small" ng-switch-when="laboratory">{{user._embedded.laboratory.name}}</span>
                        <span class="text-secondary text-small" ng-switch-when="manage">{{user.userType}}</span>
                    </div>

                    <div class="nav-profile-text d-flex flex-row" ng-if="!isLogged">
                        <a class="font-weight-bold mb-2 text-gray" href="/#!/login">登录</a>/
                        <a class="font-weight-bold mb-2 text-gray" href="/#!/register">注册</a>
                    </div>
                    <i class="mdi mdi-bookmark-check text-success nav-profile-badge"
                       ng-if="isLogged && user.userType == 'laboratory'"></i>
                </div>
            </li>
            <!--其他列表项-->

            <li class="nav-item">
                <a class="nav-link" href="#!/">
                    <span class="menu-title">首页</span>
                    <i class="mdi mdi-home menu-icon"></i>
                </a>
            </li>

            <!--浏览-->
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" data-target="#look-through" href="" aria-expanded="false"
                   aria-controls="ui-basic">
                    <span class="menu-title">浏览</span>
                    <i class="menu-arrow"></i>
                    <i class="mdi mdi-crosshairs-gps menu-icon"></i>
                </a>
                <div class="collapse" id="look-through">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item"><a class="nav-link" href="/#!/laboratory">浏览单位</a></li>
                        <li class="nav-item"><a class="nav-link" href="/#!/deviceType">浏览类别</a></li>
                        <li class="nav-item"><a class="nav-link" href="/#!/device">浏览仪器</a>
                        </li>
                    </ul>
                </div>
            </li>

            <!--单位管理-->
            <li class="nav-item" ng-if="user.userType == 'manage'">
                <a class="nav-link" data-toggle="collapse" data-target="#lab" href="" aria-expanded="false"
                   aria-controls="ui-basic">
                    <span class="menu-title">单位管理</span>
                    <i class="menu-arrow"></i>
                    <i class="mdi mdi-crosshairs-gps menu-icon"></i>
                </a>
                <div class="collapse" id="lab">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item"><a class="nav-link" href="/#!/submitLaboratory">添加单位</a></li>
                        <li class="nav-item"><a class="nav-link" href="/#!/manageLaboratory">单位信息管理</a></li>
                    </ul>
                </div>
            </li>


            <!--仪器管理-->
            <li class="nav-item" ng-if="user.userType == 'laboratory' || user.userType == 'manage'">
                <a class="nav-link" data-toggle="collapse" data-target="#device" href="" aria-expanded="false"
                   aria-controls="ui-basic">
                    <span class="menu-title">仪器管理</span>
                    <i class="menu-arrow"></i>
                    <i class="mdi mdi-crosshairs-gps menu-icon"></i>
                </a>
                <div class="collapse" id="device">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item" ng-if="user.userType == 'laboratory' || user.userType == 'manage'"><a
                            class="nav-link" href="/#!/manageDeviceType">仪器类别管理</a></li>
                        <li class="nav-item" ng-if="user.userType == 'laboratory'"><a class="nav-link"
                                                                                      href="/#!/submitDevice">仪器信息填报</a>
                        </li>
                        <li class="nav-item" ng-if="user.userType == 'laboratory'"><a class="nav-link"
                                                                                      href="/#!/manageDevice">仪器信息管理</a>
                        </li>
                        <li class="nav-item" ng-if="user.userType == 'manage'"><a class="nav-link"
                                                                                  href="/#!/examineDevice">仪器信息审核</a>
                        </li>
                    </ul>
                </div>
            </li>

            <!--预约管理-->
            <li class="nav-item" ng-if="user.userType">
                <a class="nav-link" data-toggle="collapse" data-target="#reserve" href="" aria-expanded="false"
                   aria-controls="ui-basic">
                    <span class="menu-title">预约管理</span>
                    <i class="menu-arrow"></i>
                    <i class="mdi mdi-crosshairs-gps menu-icon"></i>
                </a>
                <div class="collapse" id="reserve">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item" ng-if="user.userType == 'general'">
                            <a class="nav-link" href="/#!/myReserve">我的预约</a>
                        </li>
                        <li class="nav-item" ng-if="user.userType == 'laboratory'">
                            <a class="nav-link" href="/#!/examineReserve">审核预约</a>
                        </li>
                        <li class="nav-item" ng-if="user.userType == 'manage'">
                            <a class="nav-link" href="/#!/comment">查看评价</a>
                        </li>
                    </ul>
                </div>
            </li>

            <!--用户管理-->
            <li class="nav-item" ng-if="user.userType == 'manage'">
                <a class="nav-link" data-toggle="collapse" data-target="#user" href="" aria-expanded="false"
                   aria-controls="ui-basic">
                    <span class="menu-title">用户管理</span>
                    <i class="menu-arrow"></i>
                    <i class="mdi mdi-crosshairs-gps menu-icon"></i>
                </a>
                <div class="collapse" id="user">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item"><a class="nav-link" href="/#!/examineRegister">审核注册请求</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/#!/user">用户信息管理</a></li>

                    </ul>
                </div>
            </li>

        </ul>
    </nav>
    <!--网页主视图-->
    <div class="main-panel">
        <div class="content-wrapper">
            <div ng-view=""></div>
        </div>
    </div>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
        !function (A, n, g, u, l, a, r) {
            A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
                (A[l].q = A[l].q || []).push(arguments)
            }, A[l].l = +new Date, a = n.createElement(g),
                r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
        }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-XXXXX-X');
        ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <!-- endbower -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/login.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/about.js"></script>
    <script src="scripts/controllers/laboratory.js"></script>
    <script src="scripts/controllers/deviceType.js"></script>
    <script src="scripts/controllers/device.js"></script>
    <script src="scripts/controllers/reserve.js"></script>
    <script src="scripts/controllers/myReserve.js"></script>
    <script src="scripts/controllers/examineReserve.js"></script>
    <script src="scripts/controllers/commentReserve.js"></script>
    <script src="scripts/controllers/search.js"></script>
    <script src="scripts/controllers/user.js"></script>
    <script src="scripts/controllers/login.js"></script>
    <script src="scripts/controllers/register.js"></script>
    <script src="scripts/controllers/examineDevice.js"></script>
    <script src="scripts/controllers/manageDevice.js"></script>
    <script src="scripts/controllers/manageDeviceType.js"></script>
    <script src="scripts/controllers/manageLaboratory.js"></script>
    <script src="scripts/controllers/comment.js"></script>
    <script src="scripts/controllers/submitDevice.js"></script>
    <script src="scripts/controllers/submitLaboratory.js"></script>
    <script src="scripts/controllers/examineRegister.js"></script>

    <script src="scripts/services/laboratory.js"></script>
    <script src="scripts/services/deviceType.js"></script>
    <script src="scripts/services/device.js"></script>
    <script src="scripts/services/reserve.js"></script>
    <script src="scripts/services/search.js"></script>
    <script src="scripts/services/user.js"></script>
    <script src="scripts/services/registrationRequest.js"></script>
    <!-- endbower -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/vendor.bundle.base.js"></script>
    <script src="scripts/vendor.bundle.addons.js"></script>
    <script src="scripts/off-canvas.js"></script>
    <script src="scripts/misc.js"></script>
    <script src="scripts/dashboard.js"></script>
</div>
</body>

</html>
